*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# development
/.idea
/conf
/local-xdebuginfo.php

# wordpress specific
wp-config.php
wp-config-sample.php

# WP core 6.8
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# The following files and types cannot be pushed with Git.
wp-config\.php
wp-content\/uploads
wp-content\/blogs\.dir
wp-content\/upgrade
wp-content\/object-cache\.php
wp-content\/mysql\.sql
wp-content\/mu-plugins\/mu-plugin\.php
wp-content\/mu-plugins\/kinsta-mu-plugins
\.hqx$
\.bin$
\.exe$
\.dll$
\.deb$
\.dmg$
\.iso$
\.img$
\.msi$
\.msp$
\.msm$
\.mid$
\.midi$
\.kar$
\.mp3$
\.ogg$
\.m4a$
\.ra$
\.3gpp$
\.3gp$
\.mp4$
\.mpeg$
\.mpg$
\.mov$
\.webm$
\.flv$
\.m4v$
\.mng$
\.asx$
\.asf$
\.wmv$
\.avi$

# Site specific
/*.png
/*.htaccess*
/*.xml
/*.ico
/*.gif
/*.html
/*.json
/*.txt
/wp-snapshots
/.tmb
/.quarantine


wp-content/*
!wp-content/plugins
!wp-content/themes

wp-content/plugins/*

wp-content/themes/*

# Only track the following themes.
!wp-content/plugins/payak-blocks

# Only track the following themes.
!wp-content/themes/daniloparrajr-theme

# always ignore node_modules folders
**/node_modules