@use "../../abstracts" as a;

.wp-block-categories {
  .current-cat {
    color: var(--wp--preset--color--blue-600);
  }
}

:root :where(.wp-block-categories.is-style-badges) {
  display: flex;
  flex-wrap: wrap;
  gap: a.rem(8px);
  padding-left: 0;

    > .cat-item {
      margin: 0;
      list-style: none;

        a {
          text-decoration: none;
          padding: a.rem(2px) a.rem(20px);
          border-radius: 99px;
          border: 1px solid;
          display: inline-block;
        }
    }
}

:root :where(.wp-block-categories.is-style-columns) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  color: var(--wp--preset--color--black-700);
  position: relative;
  border: 1px solid var(--wp--preset--color--black-700);
  border-left: none;
  border-right: none;

  > .cat-item {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid var(--wp--preset--color--black-700);

    &:last-child,
    &:nth-last-child(2):nth-child(odd) {
      border-bottom: none;
    }

    a {
      text-decoration: none;
      padding: a.rem(10px) 0;
      display: inline-block;
      color: inherit;

      &:hover,
      &:active,
      &:focus-within {
        color: var(--wp--preset--color--blue-600);
      }
    }
  }
}