@use "../../abstracts" as a;

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: pretty;
}

:where(.has-display-font-size) {
	line-height: 1.05;
}

.has-headline-1-font-size {
	line-height: 1.17;
}

.has-headline-2-font-size {
	line-height: 1.1;
}

.has-headline-3-font-size {
	line-height: 1.18;
}

.has-headline-4-font-size {
	line-height: 1.1;
}

.has-headline-5-font-size {
	line-height: 1.18;
}

.has-headline-6-font-size {
	line-height: 1.215;
}